* {
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
}


/**
*Header
*Nav bar styles start
*/

.header {
  padding: 18px 0 0 18px;
  background-color: darkslategrey;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: ivory;
}

.header h1 {
  display: inline-block;
  font-size: 48px;
  color: darkslategrey;
  background-color: ivory;
  
}

.header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 25px;
}

.header nav ul li {
  display: inline-block;
  text-align: space-between;
  margin-left: 25px;
}

.header a {
  color: ivory
}

#hero {
  height: 250px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/Screen\ Shot\ 2022-02-20\ at\ 11.42.11\ AM.png");
  background-size: cover;
  background-position: right;
}

.divider {
  width: 2px;
  background-color: royalblue;
  height: 100%;
}

.project {
  min-height: 200px;
  background-size: cover;
  margin-right: 25px;
  font-size: 25px;
  border: 5px solid cadetblue;
}

.project-1 {
  background-image: url("../images/Screen\ Shot\ 2022-02-20\ at\ 11.47.36\ AM.png");
  margin-bottom: 25px;
  margin-top: 25px;
}

.project-multi-block a {
  flex-grow: 1;

}
.project-2 {
  background-image: url("../images/Screen\ Shot\ 2022-02-20\ at\ 11.55.08\ AM.png");
  min-width: 169px;
}

.project-3 {
  background-image: url("../images/Screen\ Shot\ 2022-02-20\ at\ 11.56.31\ AM.png");

}

.section-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.section-header {
 font-size: 48px;
 color: darkslategrey;
 border-right: 2px solid black;
 padding-right: 33px;
 padding-left: 100px;
 min-width: 25%;
 max-width: 25%;
 height: 100%;
}

.section-wrapper p {
  font-size: x-large;
}

.section-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 80px;
  height: 100%;
  width: 100%;
  font-size: x-large;
  
}

.projects-content {
  display: block;
  width: 100%;
}

.project-multi-block {
  display: flex;
}

@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }
}